/* ================= Start Icon Of Uploading Videos ================= */
.videoContainer {
  position: relative;
  line-height: 1;

  .UploadVideoBtn {
    svg {
      font-size: 2rem !important;
    }
  }

  .videosNav {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #212121;
    min-width: 115px;
    border-left: 1px solid #777;

    a {
      display: block;
      color: #ddd;
      margin: 1rem 0;
      padding: 0 0.5rem;
      border-left: 2px solid transparent;

      &:hover {
        border-color: #ddd;
      }
    }
  }
}
/* ================= End Icon Of Uploading Videos ================= */
