* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  background-color: transparent;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  li {
    list-style: none;

    a {
      color: #000;
      text-decoration: none;
    }
  }
}
